@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: #30343F;
        --textColor: #FAFAFF;
        --fontSize: calc(100vw / 110);
        --linkBgColor: #E4D9FF;
        --linkColor: #273469;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgColor: #FAFAFF;
        --textColor: #30343F;
        --fontSize: calc(100vw / 110);
        --linkBgColor: #E4D9FF;
        --linkColor: #273469;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --fontSize: calc(100vw / 30);
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    :root {
        --fontSize: 1.7vw;
    }
}

html {
    background-color: var(--bgColor);
    color: var(--textColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body>r-grid {
    grid-column-gap: calc(var(--lineHeight) * 2);
}

a,
a:hover {
    padding: 0px 5px;
    display: inline-block;
    color: var(--linkColor);
    background-color: var(--linkBgColor);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--linkColor);
}

r-cell.ruler {
    height: 0.2rem;
    background: var(--textColor);
    margin-top: calc(var(--lineHeight) * 2);
}

section {
    margin-bottom: calc(var(--lineHeight) * 2);
}

q {
    font-style: italic;
    quotes: '"' '"';
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}
