@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: #000;
        --textColor: #FAFAFF;
        --fontSize: calc(100vw / 110);
        --linkBgColor: #FFEE93;
        --linkColor: #141301;
        --quoteBgColor: hsla(var(--linkBgColor), 0);
        --quoteBgBrightness: 100%;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bgColor: #FAFAFF;
        --textColor: #30343F;
        --fontSize: calc(100vw / 110);
        --linkBgColor: #E4D9FF;
        --linkColor: #273469;
        --quoteBgColor: var(--bgColor);
        --quoteBgBrightness: 97%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --fontSize: calc(100vw / 30);
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    :root {
        --fontSize: 1.7vw;
    }
}

html {
    background-color: var(--bgColor);
    color: var(--textColor);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body>r-grid {
    grid-column-gap: calc(var(--lineHeight) * 2);
}

a,
a:hover {
    padding: 0px 5px;
    display: inline-block;
    color: var(--linkColor);
    background-color: var(--linkBgColor);
    border-radius: 0.3em;
    user-select: all;
    text-decoration: none;
    z-index: -100;
}

a:hover {
    text-decoration: underline;
    color: var(--linkColor);
}

a:visited {
    color: var(--linkColor);
}

r-cell.ruler {
    height: 0.2rem;
    background: var(--textColor);
    margin-top: calc(var(--lineHeight) * 2);
}

section {
    margin-bottom: calc(var(--lineHeight) * 2);
}

p {
    line-height: 1.6em;
}

q {
    padding: 1px 5px;
    font-style: italic;
    quotes: '"' '"';
    background-color: var(--quoteBgColor);
    filter: brightness(var(--quoteBgBrightness));
    border-radius: 0.3em;
    user-select: all;
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}
