<!DOCTYPE html>
<html lang="en">
<head>
    <title>Found; Not Lost — Kai Kühne</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preload" href="/static/fonts/InterVariable.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/style.css">
    <style>
:root {
    --layout-direction: row;
    --header-order: 1;
    --main-order: 2;

    --header-padding: 5rem;
    --main-padding: 3rem 3rem 10rem 3rem;

    --divider-display: none;
    --divider-color: #ccc;
    --divider-margin: 0;
}

@media (max-width: 540px) {
    :root {
        --layout-direction: column;
        --header-order: 0;
        --main-order: 1;

        --header-padding: 2rem 2rem 1rem 2rem;
        --main-padding: 1rem 2rem 5rem 2rem;

        --divider-display: block;
        --divider-margin: 0 2rem;
    }
}

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 64rem;
}

.layout {
    display: flex;
    flex-direction: var(--layout-direction);
    flex: 1;
}

header {
    box-sizing: border-box;
    flex: 0 0 25rem;
    padding: var(--header-padding);
    order: var(--header-order);
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    order: var(--main-order);
    padding: var(--main-padding);
}

footer {
    padding: 0 3rem 2rem;
}

ol, ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-left: 0;
}

h2 {
    font-size: 1.6rem;
    letter-spacing: -0.08em;
}

.mobile-divider {
    display: var(--divider-display);
    border: none;
    border-top: 1px solid var(--divider-color);
    margin: var(--divider-margin);
}
    </style>
    <!--
        <link rel=alternate type="application/rss+xml" title="Found RSS Feed"
              href="/found/index.xml">
        -->
</head>
<body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <div class="layout">
        <header>
          <a href="/" class="home-link"><img src="/static/logo.svg" alt="Kai Kühne – home"></a>
            <h1>Found; Not Lost</h1>
            <p>Welcome to <em><strong>Found; Not Lost</strong></em> where I
            share links to cool things I find online: Programming, Design, Game
            Development, Music Production.</p>
            <!--<p>There&rsquo;s an <a href=/found/index.xml>RSS feed</a> variant of this page.</p>-->
        </header>
        <hr class="mobile-divider">
        <main id="main-content">
            {{ content | safe }}
        </main>
    </div>
</body>
</html>
